[submodule ".registry"]
	path = .registry
	url = https://github.com/spatialworks/spatialworks.r-universe.dev
	branch = HEAD
[submodule "liberia"]
	path = liberia
	url = https://github.com/spatialworks/liberia
[submodule "malawi"]
	path = malawi
	url = https://github.com/spatialworks/malawi
[submodule "mozambique"]
	path = mozambique
	url = https://github.com/spatialworks/mozambique
[submodule "spatialsampler"]
	path = spatialsampler
	url = https://github.com/spatialworks/spatialsampler
